.div-forms {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;

  & .forms {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 18px;

    & .box-senhas-foto {
      width: 100%;
      height: 260px;
      display: flex;
      align-items: center;
      justify-content: center;

      /* & .image-box {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        height: 100%;

        & .circle-input {
          height: 100%;
          width: 90%;
          border-radius: 50%;
          border: 3px solid #173e6d;
          display: flex;
          align-items: center;
          justify-content: center;

          & profile-image {
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }

          & label {
            position: fixed;
            display: flex;
            align-items: center;
            cursor: pointer;
            bottom: 42%;
            background-color: #f6f6f6;
            filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
            border-radius: 80%;
            padding: 10px;
          }
          
          .placeholder-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #888;
          }

          & input[type="file"] {
            display: none;
          }
        }
      } */

      & .box-inputs {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;

        & .box {
          display: flex;
          flex-direction: column;
          justify-content: start;

          & .div-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 225px;
            height: 15px;
            border: 3px solid #173e6d;
            border-radius: 8px;
            margin: 10px 0 20px;
            background-color: #fff;
            padding: 10px;

            & input {
              width: 100%;
              outline: none;
              border: none;
              font-size: 16px;
              font-weight: 400;
              color: #173e6d;
            }
          }
        }
      }
    }
  }
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.pencil-icon {
  font-size: 22px;
  background-color: #f6f6f6;
  color: #173e6d;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  position: absolute; 
  bottom: -15px; 
  right: 100px; 
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
}

.circle-input {
  position: relative; 
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #173e6d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-input input[type="file"] {
  display: none;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .circle-input {
    width: 100px;
    height: 100px;
  }

  .pencil-icon {
    font-size: 18px;
    bottom: 5px;
    right: 5px;
  }
}

.botoes {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.grupo-progress {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.progress-container {
  width: 100%;
  height: 5%;
  background-color: #cacaca;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 4px;
  background-color: #173e6d;
  width: 0%;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}

.image-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
