.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 80vw;
  height: 90vh;

  .box {
    display: flex;
    box-shadow: 1px 0 10px #4b4b4b4b;
    width: 90%;
    height: 80%;
    border-radius: 15px;
  }
}

body {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

h3 {
  font-weight: 700;
}
