.container-motorista {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  padding: 70px;

  .infos-motorista {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .titulo {
      display: flex;
      align-items: start;
      justify-content: left;
      margin-bottom: 25px;
      h2 {
        margin: 0;
      }
    }
    .checklist {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      color: #173e6d;

      .check {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;

        span {
          font-weight: 500;
          width: 70%;
          font-size: 20px;
        }

        img {
          height: 30px;
        }
      }
    }
  }

  .imagem-motorista {
    img {
      height: 500px;
    }
  }
}

.container-usuario {
  width: 100%;
  height: 80%;
  padding: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-color: #173e6d;

  .infos-usuario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .titulo {
      display: flex;
      align-items: start;
      justify-content: left;
      margin-bottom: 25px;
      h2 {
        margin: 0;
        color: #fff;
      }
    }
    .checklist {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      color: #173e6d;   

      .check {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;

        span {
          font-weight: 500;
          width: 70%;
          font-size: 20px;
          color: #fff;
        }

        img {
          height: 30px;
        }
      }
    }
  }

  .imagem-usuario {
    img {
      height: 450px;
    }
  }
}

.wavesTop {
  position: absolute;
  top: 215px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wavesTop {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 118px;
}

.wavesBottom {
    position: absolute;
    bottom: 100px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wavesBottom {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 118px;
  }

