.container {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;

  .carrossel {
    background-color: #f1f1f1;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin-top: 50px;
    .slide {
      display: flex;
      flex-direction: column;
      img {
        height: 300px;
        margin-bottom: 35px;
      }
    }
  }

  .titulo {
    width: 70%;
    margin: auto;
    align-self: flex-start;
    height: fit-content;
  }
}
