body {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.main {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .container {
        width: 70vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        & .container-proxima-viagem {
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 10px;

            & .header-proxima-viagem {
                display: flex;
                align-items: center;
                gap: 15px;

                & .alerta-viagem {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: #CCF5BE;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .alerta-viagem-circle {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background-color: #6BBB6A;
                    }
                }
            }
        }
    }

    & .line-separator {
        width: 100%;
        border-bottom: 2px solid #E6E6E6;
        margin: 25px 0;
    }

    & .historico {
        width: 100%;
        display: flex;
        flex-direction: column;

        & .historico-header {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .historico-header-filtros {
                width: 400px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;

                & .box-filtro {
                    width: 48%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 5px;

                    & span {
                        font-size: 16px;
                        font-weight: 600;
                        color: #173e6d;
                    }

                    & .box-select {
                        width: 100%;
                        height: 100%;
                        border: none;
                        border-radius: 10px;
                        box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
                        outline: none;
                        font-size: 16px;
                        display: flex;
                        text-align: center;
                        color: #173e6d;
                        font-weight: 600;

                        & option {
                            color: #173e6d;
                            font-weight: 500;
                        }

                    }
                }

            }
        }

        & .historico-viagens {
            width: 100%;
            height: 280px;
            margin-top: 20px;
            overflow: auto;
        }

        & .historico-viagens::-webkit-scrollbar {
            width: 20px;
        }

        & .historico-viagens::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        & .historico-viagens::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: 6px solid #F7F7F7;
            background: #bfbfbf;
        }

        & .not-found {
            width: 100%;
            height: 280px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            & h4 {
                font-weight: 500;
            }

            & img {
                height: 80%;
                width: 80%;
            }
        }

    }

}


h3 {
    font-weight: 700;
}