.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 80vw;
  height: 90vh;

  .metricas {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .kpis {
      height: 40vh;
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .viagens {
        display: flex;
        align-items: center;
        height: 50%;
        gap: 60px;

        .registros {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          width: 10%;

          span {
            font-size: 24px;
            font-weight: 600;
            color: #173e6d;
          }
        }

        img {
          width: 20%;
        }
      }

      .transacoes {
        display: flex;
        align-items: center;
        height: 50%;
        gap: 60px;

        .registros {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          width: 10%;

          span {
            font-size: 24px;
            font-weight: 600;
            color: #173e6d;
          }
        }

        img {
          width: 20%;
        }
      }
    }

    .grafico {
      height: 40vh;
      width: 70%;
      display: flex;
      align-items: end;
      justify-content: space-between;

      .disabled {
        display: none;
      }

      .visible {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 120px;
        background-color: #fff;
        border-radius: 15px;
        position: fixed;
        gap: 5px;
        padding: 15px;
        box-shadow: 5px 0 15px #4b4b4b4b;

        .conjunto-info {
          display: flex;
          align-items: center;
          gap: 10px;

          & span {
            color: #173e6d;
            font-weight: 600;
          }

          & svg {
            color: #173e6d;
            font-size: 25px;
          }
        }
      }

      .info {
        width: 1.7%;
        position: absolute;
        cursor: pointer;
        color: #000;
        font-size: 25px;
        border-radius: 100%;
        border: none;
        box-shadow: 1px 0 10px #4b4b4b4b;
      }

      .charts {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        margin-left: 45px;
        border-radius: 12px;

        .conjunto-chart {
          width: 15%;
          text-align: center;

          .chart {
            background-color: #cccccc;
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 90%;
            border-radius: 12px;

            .metrica {
              border-radius: 12px;
              background-color: #173e6d;
              width: 100%;
              height: 70%;
            }
          }
          & svg {
            margin-top: 5px;
            font-size: 40px;
            color: #173e6d;
          }
        }
      }
    }
  }

  .divisoria {
    width: 85%;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }

  .dados {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & .button:hover {
        color: #f1f1f1;
        background-color: #c0903b;
        transition: all 0.2s;
      }

      .button {
        background-color: #e6ad47;
        width: 15%;
        padding: 10px;
        border-radius: 8px;
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 4px 10px #4b4b4b4b;
        cursor: pointer;
        & span {
          color: #fff;
          font-weight: 600;
          margin-right: 10px;
        }
        & svg {
          color: #fff;
          font-weight: 20px;
        }
      }
    }

    .info-user {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;

      & .conjunto-user {
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1%;
        gap: 30px;

        & h4 {
          margin-right: 20px;
          font-weight: 600;
        }

        & span {
          color: #173e6d;
          font-size: 20px;
        }
      }
    }
  }
}

body {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

h3 {
  font-weight: 700;
}
