* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  background-color: #f7f7f7;
}

ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  color: #173e6d;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  color: #173e6d;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  color: #173e6d;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  color: #173e6d;
  font-weight: 500;
}

.toast-body {
  width: fit-content;
  font-size: 16px;
  padding: 10px;
}
