.container {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.min-height {
  min-height: 90vh;
}

.start {
  justify-content: start;
}

.column {
  flex-direction: column;
  justify-content: start;
}

.wrap {
  flex-wrap: wrap;
}
