header {
  background-color: #173e6d;
  color: #fff;
  height: 100vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 0 20px #0000004b;

  & .img-logo {
    height: 80px;
  }

  & .box-user {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    & .user-foto {
      width: 47%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 90px;
        height: 90px;
        background-color: #fff;
        border-radius: 50%;
      }
    }

    & .user-infos {
      width: 47%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & p,
      span {
        font-size: 20px;
        font-weight: 500;
      }

      & .box-nota {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;

        & svg {
          font-size: 20px;
        }
      }
    }
  }

  & .itens-sidebar {
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & .item {
      width: 100%;
      height: 50px;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 20px;
      transition: all 0.2s;

      & span {
        font-size: 20px;
        font-weight: 500;
      }

      & svg {
        font-size: 20px;
        color: #fff;
      }
    }

    & .item:hover {
      background-color: #14345b;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.2s;
    }

    & .current-page {
      & svg,
      span {
        color: #e6ad47;
      }
    }
  }

  & .logout {
    width: 220px;
    height: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    transition: all 0.2s;

    & span {
      font-size: 20px;
      font-weight: 500;
    }

    & svg {
      font-size: 20px;
      color: #fff;
    }
  }

  & .logout:hover {
    background-color: #14345b;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
}
