body {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.main {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .container {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    & .container-meu-carro {
      width: 100%;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;

      & .header-meu-carro {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .button-editar {
          width: 130px;
          background-color: #e6ad47;
          border: 3px solid #e6ad47;
          color: #fff;
          transition: all 0.2s;
          box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
        }

        & .button-editar:hover {
          color: #f1f1f1;
          border: 2px solid #e6a534;
          background-color: #e6a534;
          transition: all 0.2s;
        }
      }
    }

    .form-container {
      background-color: #f7f7f7;
      height: 350px;
      width: 600px;
      position: absolute;
      flex-direction: column;
      top: 25%;
      left: 38%;
      border-radius: 15px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;

      .box-campos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px;
        gap: 25px;

        .conjunto-input {
          margin-left: 35px;
          display: flex;
          flex-direction: column;

          & select {
            max-width: 190px;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 3px solid #173e6d;
            color: #173e6d;
          }

          & input {
            max-width: 190px;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 3px solid #173e6d;
            color: #173e6d;
          }

          & label {
            color: #173e6d;
            font-weight: 600;
          }
        }
      }

      .botoes {
        display: flex;
        width: 50%;
        justify-content: space-between;

        & .button-cancelar {
          width: 130px;
          background-color: #fff;
          border: 2px solid #d96464;
          color: #d96464;
          transition: all 0.2s;
        }

        & .button-cancelar:hover {
          background-color: #d96464;
          color: #fff;
          transition: all 0.2s;
        }

        & .button-finalizar {
          width: 130px;
          background-color: #e6ad47;
          border: 3px solid #e6ad47;
          color: #fff;
          transition: all 0.2s;
          box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
        }

        & .button-finalizar:hover {
          color: #f1f1f1;
          border: 2px solid #e6a534;
          background-color: #e6a534;
          transition: all 0.2s;
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Cor escura com transparência */
      z-index: 100; /* Z-index alto para garantir que cubra todo o conteúdo */
      display: none; /* Inicialmente escondido */
    }

    .overlay.active {
      display: block; /* Mostrar quando ativo */
    }
  }
}

::-webkit-input-placeholder {
  color: #173e6d;
}
