body {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.main {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .container {
        width: 70vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        & .fidelizados {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        & .not-found {
            width: 100%;
            height: 420px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 20px;

            & img {
                height: 60%;
            }
        }
    }

}