body {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.main {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .container {
        width: 70vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & h3 {
            width: 100%;
            display: flex;
            text-align: start;
        }

        & .container-feedback {
            width: 100%;
            height: 90%;
            background-color: #fff;
            box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
            border-radius: 10px;
            box-sizing: border-box;

            & .viagem-info {
                width: 100%;
                height: 30%;
                border-bottom: 2px solid #CCCCCC;
                padding: 10px 30px;
                box-sizing: border-box;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                color: #173e6d;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-around;
                font-size: 20px;

                & h4 {
                    font-weight: 600;
                }

                & .icon-info {
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                }

            }

            & .avaliacoes-comentario {
                width: 100%;
                height: 60%;
                padding: 20px 30px;
                box-sizing: border-box;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                font-size: 16px;
                font-weight: 500;
                display: flex;
                color: #173e6d;

                & .user-comentario {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    flex-direction: column;

                    & .user-avaliacao {
                        width: 100%;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 16px;

                        & img {
                            background-color: black;
                            height: 80px;
                            width: 80px;
                            border-radius: 50%;
                        }

                        & .nome-nota {
                            display: flex;
                            align-items: start;
                            flex-direction: column;
                            justify-content: center;
                            gap: 4px;

                            & .nota {
                                display: flex;
                                gap: 8px;

                                & svg {
                                    font-size: 28px;
                                }

                                & svg:hover {
                                    cursor: pointer;
                                }
                            }

                        }

                    }

                    & .comentario {
                        width: 100%;
                        height: 160px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 4px;

                        & h4 {
                            font-weight: 600;
                        }

                        & input {
                            width: 95%;
                            height: 90%;
                            outline: none;
                            border: 2px solid #173e6d;
                            border-radius: 8px;
                            font-size: 16px;
                            display: flex;
                            align-items: start;
                            justify-content: end;
                            padding: 10px;
                            box-sizing: border-box;
                            word-wrap: break-word;
                        }
                    }
                }

                & .criterios-avaliacao {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 0 80px;
                    box-sizing: border-box;

                    & .criterio {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 4px;
                        height: 23%;
                        width: 100%;

                        & h4 {
                            font-weight: 600;
                        }

                        & .estrelas {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            & svg {
                                font-size: 28px;
                            }

                            & svg:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            & .action-buttons {
                width: 100%;
                height: 10%;
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 60px;
            
                & .cancelar-button {
                    width: 160px;
                    height: 70%;
                    border: 2px solid #173e6d;
                    background-color: #fff;
                    transition: all 0.2s;
                    color: #173e6d;
                    margin: 0;
                }

                & .cancelar-button:hover {
                    color: #0F2949;
                    border: 2px solid #0F2949;
                    background-color: #f1f1f1;
                    transition: all 0.2s;
                }

                & .finalizar-button {
                    width: 160px;
                    height: 70%;
                    border: 2px solid #E6AD47;
                    background-color: #E6AD47;
                    color: #fff;
                    transition: all 0.2s;
                    margin: 0;

                }

                & .finalizar-button:hover {
                    color: #f1f1f1;
                    border: 3px solid #c0903b;
                    background-color: #c0903b;
                    transition: all 0.2s;
                }
            }
        }
    }
}