button {
  width: 250px;
  height: 40px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 10px;
}

button:hover {
  cursor: pointer;
}

.primary {
  background-color: #e6ad47;
  color: #fff;
  border: 3px solid #e6ad47;
}

.secondary {
  background-color: #fff;
  color: #173e6d;
  border: 3px solid #173e6d;
}

/* .forms-context {
    width: 280px;
    height: 40px;
}

.card-context {
    width: 280px;
    height: 40px;
} */
